<div *ngIf="customers" style="display: flex; flex-direction: column; align-items: center;">
  <h2>Customers</h2>
  <div style="align-self: flex-end;">
    <button (click)="addCustomer()">Add Customer</button>
  </div>
  <table style="margin: auto;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>Town</th>
        <th>PostalCode</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.name}}</td>
        <td>{{customer.address1}}</td>
        <td>{{customer.address2}}</td>
        <td>{{customer.town}}</td>
        <td>{{customer.postalcode}}</td>
        <td>{{customer.country}}</td>
        <td>
          <button (click)="updateCustomer(customer)">Update</button>
          <button (click)="deleteCustomer(customer)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
