.container {
  height: 80vh;
  display: flex;
}

.menu {
  width: 200px;
}

.menu-list {
  list-style: none;
}

.content {
  flex-grow: 1;
}

.material-menu {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

  .material-menu:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  }
